.header {
  background: rgb(72, 175, 235);
  padding: 20px;
  margin-bottom: 20px;
}
.header__wrapper {
  display: flex;
  justify-content: center;
}
.header__input-inner {
  position: relative;
}
.header__search {
  background: transparent;
  border: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  font-size: 26px;
  color: #fff;
  width: 300px;
  padding: 10px 60px;
  text-align: center;
  &:focus + .input-text {
    top: -8px;
    font-size: 15px;
    background: rgb(72, 175, 235);
  }
}
.input-text {
  font-size: 30px;
  color: #fff;
  pointer-events: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 17px;
  transition: 0.5s;
  padding: 0 3px;
}
.input-active {
  top: -8px;
  font-size: 15px;
  background: rgb(72, 175, 235);
}
.header__clear {
  height: 51px;
  width: 51px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: 1px;
  background: transparent;
  transition: 0.3s;
  &:hover {
    background: tomato;
  }
}
