.country {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#000, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 111;
}
.country__inner{
  background: rgb(252, 247, 192);
  padding: 10px;
  position: relative;
}
.country__item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  span{
    font-weight: 700;
  }
}
.country__img {
  img {
    border: 1px solid #ccc;
    object-fit: cover;
    height: 400px;
  }
}
.country__close{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #333;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  &:hover{
    span{
      background: tomato;
    }
  }
  span{
    position: absolute;
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background: #fff;
  }
  span:first-child{
    transform: rotate(45deg);
  }
  span:nth-child(2){
    transform: rotate(-45deg);
  }
}