.country {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#000, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.country__inner{
  background: #fff;
  padding: 10px;
  max-width: 700px;
  width: 100%;
  position: relative;
}
.country__item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  span{
    font-weight: 700;
  }
}
.country__img {
  img {
    border: 1px solid #ccc;
    object-fit: cover;
    width: 100%;
  }
}
.country__close{
  position: absolute;
  top: -40px;
  right: 0px;
  cursor: pointer;
  transition: .2s;
  &:hover{
    svg{
      fill: tomato;
    }
  }
}