
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}
body {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
input{
  font-family: inherit;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
}
.content {
  background: #333 url(./images/map.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
